[submodule "SR2012/libkoki"]
	path = SR2012/libkoki
	url = https://github.com/srobo/libkoki
[submodule "SR2014/kokimarker"]
	path = SR2014/kokimarker
	url = https://github.com/srobo/kokimarker
[submodule "SR2015/.kokimarker"]
	path = SR2015/.kokimarker
	url = https://github.com/srobo/kokimarker
[submodule "SR2016/kokimarker"]
	path = SR2016/kokimarker
	url = https://github.com/srobo/kokimarker
[submodule "SR2017/kokimarker"]
	path = SR2017/kokimarker
	url = https://github.com/srobo/kokimarker
[submodule "SR2019/kokimarker"]
	path = SR2019/kokimarker
	url = https://github.com/srobo/kokimarker
